 
<h1>CHATS </h1>
<button onclick="home()"> HOME</button>
 
<div> 
    <input id="textbox"> 
     <button  onclick="enterChat()">Send</button>
    <p id="texto"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script type="text/javascript" src="../public/js/index.js"></script> --}}
 
<script src="/js/realTimeProducts.js"></script> 
<script src="/js/web.js"></script>
