<div>
    <h1>Inyección de cookies</h1> <button onclick="home()"> HOME</button>
    <form id="cookieForm">
        <label>Nombre</label> 
        <input name="name">
        <br />
        <label>Correo electrónico</label>
        <input name="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Obtener Cookie !</button>
</div>
<script src="/js/cookieSetter.js"></script> 
<script src="/js/web.js"></script>
