editar Productos

     <button onclick="crear()">CREAR PRODUCTOS</button>
                   <button onclick="actualizar()">ACTUALIZAR PRODUCTOS</button>
                   <button onclick="borrar()">BORRAR PRODUCTOS</button>

   "title": <input/>
    "description": <input/>
    "price":<input/>
    "stock": <input/> 
    "status": <input/> 
    "thumb": <input/> 
    "code": <input/> 
    "discount": <input/> 
    "other": <input/> 
    "other2": <input/>  
    "other3": <input/>  
    "category": <input/> 
    "thumbnail" : <input/>   
