<h1> BIENVENIDO</h1> <button onclick="register()"> REGISTRARSE </button> <button onclick="log()"> LOGEARSE </button><button onclick="profile()"> PERFIL </button>
<button onclick="chat()"> chat</button>
<button onclick="productos()"> Productos </button> 
{{!-- <button onclick="carts()"> carts </button>  --}}
<button onclick="cartsId()"> My Carrito </button> 
<button onclick="cookies2()"> cookies </button> 
<button onclick="swagger()"> swagger </button> 

<button onclick="emailf()"> MandarEmail </button> 
<button onclick="sms()"> MandarSMS </button> 
 


<script src="/socket.io/socket.io.js"></script>
<script src="/js/web.js"></script>

