 
<h1>EMAIL </h1>
<button onclick="home()"> HOME</button>
 
<div>  
    <h1>formulario para email</h1>
    to<input/> 
    subject<input/> 
    text<input/> 
     <button  onclick="mailsent()">Send</button>
    <p id="texto"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script type="text/javascript" src="../public/js/index.js"></script> --}}
 
<script src="/js/realTimeProducts.js"></script>
<script src="/js/web.js"></script>
 